@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-start: #212832;
  --color-primary-end: #30353b;
  --color-secondary: #f5f5f5;
  --color-tertiary: #29a688;
}

body {
  @apply min-h-[100dvh] text-[var(--color-secondary)];

  background: linear-gradient(
    to bottom,
    var(--color-primary-start),
    var(--color-primary-end)
  );
}
